@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
.clue-item {
  /* background-color: rgb(151, 151, 187); */
  background-color: rgba(90, 93, 68, 0.794);

  width: 4.5rem;
  height: 4.5rem;
  padding: 0 0 0 0;
  margin: 0.1rem 0 0 0;
  border-radius: 0.5rem;
  border: black 1px solid;
  box-shadow: 0.1rem 0.1rem black;
}

.item-count {
  text-align: left;
  color: white;
  text-shadow: 1px black;
  height: 1rem;
  margin: 0 0 0.5rem 0.5rem;

  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.shade{ 
  /* opacity: .5; */
  filter: brightness(0%);
}

.clue-item img {
  height: auto;
  width: auto;
}

.commonInput {
  width: auto;
  height: 33%;
  margin-left: 5%;
  margin-right: 5%;
  margin: 5% 5% 0 5%;
  background-color: rgba(255, 255, 255, 0.705);
  color: black;
  font-weight: 500;
}

.editing {
  display: flex;
  flex-flow: column nowrap;
}

.editing img {
  margin: auto;
}

.selected-broadcast {
  border: 2px solid #dadada;
  border-radius: 7px;
  background-color: rgba(59, 133, 190, 0.794);
}

#tooltip-top {
  position: absolute;
}