@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");


.form-check {
  color: black;
}

.clue-log {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 4.5rem);
  grid-gap: 0.5rem;
  justify-content: space-between;
  column-gap: 0.5rem;
  padding: 1rem 0 1rem 0;
}

.logButtons{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 1rem;
}

.logButtons button {
  background-color: rgb(175, 175, 175);
  color: black;
  border: black 2px solid;
}

.logButtons button:hover {
  background-color: grey;
  border: black 2px solid;
}

