#add-broadcast {
    background-color: rgb(118, 161, 78);
    font-weight: bold;
    color: black;
}

#add-broadcast:hover {
    background-color: rgb(121, 179, 67);
    border-color: black;
}

.tier-filter {
    margin-bottom: 1rem;
}

.MuiTableContainer-root, .MuiToolbar-root{
    background-color: rgb(139, 145, 161);
    border: black solid 1px;
}

.MuiTablePagination-selectLabel, .MuiTablePagination-displayedRows {
    margin-top: auto;
}